
@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator Home</h2>
<h3>@Html.ActionLink("Orders", "Index", "Orders")</h3>
<h3>@Html.ActionLink("Categories", "Index", "Menus")</h3>
<h3>@Html.ActionLink("Products", "Index", "Products")</h3>
<br />
<h3><a href="~/Content/Catch Collectibles Admin Guide.pdf">Administrator's Guide</a></h3>

