@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1><a href="~/Content/Catch Collectibles User Guide.pdf">User Guide</a></h1>