@{
    ViewBag.Title = "Contact Us";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title.</h2>

<address>
    One ToyStore Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:555-123-4567</abbr>
    555-123-4567
</address>

<address>
    <strong>Questions/Support:</strong>   <a href="mailto:dacook@catcchintelligence.com">dacook@catchintelligence.com</a><br />
</address>